.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

section h1 {
  font-family: 'Lucida Sans';
  font-style: oblique;
  font-size: 5rem;
}
